/**************BASE***************/
@import url("https://fonts.googleapis.com/css?family=Raleway:200");
body {
  background-color: #c1b391;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-family: "Raleway";
}

.tit-page {
  display: flex;
  justify-content: center;
}

.nav-link {
  color: beige;
}
.nav-link:hover {
  color: #8a413a;
}

p {
  font-size: 1.3rem;
}

.text-tac {
  list-style-type: none;
}

/************HEADER****************/
header {
  background-color: #201313;
  height: 6rem;
}
header div.container-fluid {
  height: 5.3rem;
}
header div.container-fluid .logo {
  height: 6rem;
  padding-bottom: 0.5rem;
  margin-left: 1rem;
}
header div.container-fluid .navbar-toggler {
  background-image: none;
  background-color: #8a413a;
}
header div.container-fluid .d-flex {
  height: 1.8rem;
  width: 25%;
}
header div.container-fluid .d-flex .btnSearch {
  display: flex;
  align-items: center;
}
header div.container-fluid .dropdown-menu {
  background-color: #201313;
}
header div.container-fluid .dropdown-menu .dropdown-item {
  color: beige;
}

/*******************SUBMENU NAV****************/
.btmNav {
  height: 3.3rem;
  color: beige;
  background-color: #8a413a;
}
.btmNav .btn-group {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5vh;
}
.btmNav .btn-group .btn-outline {
  font-size: 1.6vh;
  font-style: italic;
  font-weight: bolder;
}

/**************CARROUSEL****************/
.slide {
  margin-top: 5px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5px;
}

/**************PROMOS*****************/
.sn-promotions {
  height: 3rem;
  color: beige;
  background-color: #201313;
}
.sn-promotions .promotions {
  height: 2.8rem;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sn-promotions .promotions .text-promotions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
  margin-left: 1rem;
  height: 100%;
  font-size: 1.6vh;
}

/****************BANNERS********************/
.section-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  gap: 10rem;
}
.section-box .bannersMarcas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  gap: 3rem;
}
.section-box .bannersMarcas .img-thumbnail {
  height: auto;
  width: 40rem;
}

/*************BREADCUMB*************/
.breadcrumb {
  margin-left: 5rem;
}
.breadcrumb .breadcrumb-item {
  color: #252525;
  font-size: 0.9rem;
  font-family: "Raleway";
  font-style: italic;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  text-decoration: none;
}
.breadcrumb .breadcrumb-item:hover {
  color: #8a413a;
  transition: 0.5s;
}

/**************************PRODUCTOS*************************/
.section-box {
  margin: 1.5rem;
  margin-top: 0;
  padding: 2rem;
  box-sizing: border-box;
  font-family: "Ruleway";
}
.section-box .row {
  justify-content: space-between;
  gap: 2rem;
}
.section-box .row .text-title-product {
  font-family: "Raleway";
  font-size: 6vh;
}
.section-box .row .card {
  background-color: #201313;
  position: relative;
  border-radius: 20px;
  max-height: 55vh;
  transition: transform 0.5s linear;
}
.section-box .row .card:hover {
  transform: translate(1rem);
}
.section-box .row .card::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  background: #201313;
  background: -webkit-linear-gradient(to right, #201313, #8a413a);
  background: linear-gradient(to right, #201313, #8a413a);
  width: 100%;
  height: 100%;
  filter: blur(30px);
  z-index: -1;
}
.section-box .row .card .card-body {
  background-color: #8a413a;
  border-radius: 20px;
  border-style: groove;
  border-color: #8a413a;
  margin-bottom: 1rem;
  height: auto;
}
.section-box .row .card .card-body .card-title {
  font-size: 3.6vh;
  color: beige;
  font-family: "Raleway";
}
.section-box .row .card .card-body .card-text {
  font-size: 2vh;
  font-family: "Raleway";
  color: beige;
}
.section-box .row .card .card-body p {
  font-size: 1.3rem;
}
.section-box .row .card .card-body .btn-primary {
  background-color: #5f3c3c;
  border: none;
}
.section-box .row .card .card-body .btn-primary:hover {
  background-color: #c1b391;
  border: none;
}

.img .catHome {
  height: 27rem;
}
.img .catHome-nike {
  width: 1rem;
}

.underlined {
  width: 10%;
  border: 2px solid #8a413a;
  margin: 0 auto 1rem;
}

/***************FOOTER***************/
.page-footer {
  background-color: #201313;
  margin-top: 3.5rem;
}
.page-footer .footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #201313;
}
.page-footer .footer .col {
  width: 15.1rem;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.page-footer .footer .col h2 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 1rem;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.page-footer .footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.page-footer .footer .col ul li {
  color: #999999;
  font-size: 12px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.page-footer .footer .col ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
.page-footer .footer .col ul li a:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
.page-footer .footer .col a {
  text-decoration: none;
  color: #999999;
}
.page-footer .footer .social ul li {
  display: inline-block;
  padding-right: 5px !important;
  height: 1rem;
}
.page-footer .footer .text-support {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
}

/***********BOTON WHATSAPP************/
.float {
  position: fixed;
  width: 3.75rem;
  height: 3.75rem;
  bottom: 2.5rem;
  right: 2.5rem;
  background-color: #201313;
  color: #c18755;
  border-radius: 3.125rem;
  text-align: center;
  font-size: 1.875rem;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.float .my-float {
  margin-top: 1rem;
}

/*****************MEDIA QUERIES******************/
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1150px) {
  .sn-promotions {
    height: 3.5rem;
  }
  .sn-promotions .promotions {
    height: 3.6rem;
    margin-left: 0;
    margin-right: 0;
  }
  .sn-promotions .promotions .text-promotions {
    font-size: 1.85vh;
    margin: none;
  }
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 990px) {
  .header div.container-fluid .logo {
    margin-left: 0 !important;
  }
  .navbar-collapse {
    background-color: #201313;
    border: #201313 solid 2px;
    z-index: 99999999999;
  }
  .navbar-collapse .nav-link {
    font-size: 0.9rem;
    color: beige;
  }
  .navbar-collapse .nav-link:hover {
    color: beige;
  }
  .btmNav {
    display: none;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
  .breadcrumb {
    margin-left: 0px;
  }
  .breadcrumb .breadcrumb-item {
    font-size: x-small;
  }
  .text-title-product {
    font-size: 3vh;
  }
  .boxProduct {
    height: auto;
  }
  .boxProduct .inboxP {
    display: flex;
    flex-direction: column;
  }
  .float {
    width: 2.8rem;
    height: 2.8rem;
    bottom: 1.5rem;
  }
  .float .my-float {
    margin-top: 0rem;
  }
}
@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

/*# sourceMappingURL=estilo.css.map */
