/*************BREADCUMB*************/
.breadcrumb {
	margin-left: 5rem;
}
.breadcrumb-item {
	color: $color_7;
	font-size: 0.9rem;
	font-family: $font-family_2;
	font-style: italic;
	font-weight: bold;
	margin-top: 1.5rem;
	margin-left: 1.5rem;
	text-decoration: none;
	&:hover {
		color: $color_1;
		transition: 0.5s;
	}
}
