/************HEADER****************/
header {
    background-color: $background-color_1;
    height: 6rem;

    div.container-fluid {
        height: 5.3rem;

        .logo {
            height: 6rem;
            padding-bottom: 0.5rem;
            margin-left: 1rem;
        }

        .navbar-toggler {
            background-image: none;
            background-color: $color_1;

        }


        .d-flex {
            height: 1.8rem;
            width: 25%;

            .btnSearch {
                display: flex;
                align-items: center;
            }

        }

        .dropdown-menu {
            background-color: $background-color_1;

            .dropdown-item {
                color: $color_3;
            }
        }
    }

}