/***************MIXIN****************/
@mixin text-complementary {
	color: $color_5;
				font-size: 12px;
				font-family: $font-family_1;
				font-weight: bold;
				padding: 5px 0px 5px 0px;
				cursor: pointer;
				transition: .2s;
				-webkit-transition: .2s;
				-moz-transition: .2s;
}

