/*******************SUBMENU NAV****************/
.btmNav {
	height: 3.3rem;
	color: $color_3;
	background-color: $color_1;

	.btn-group {
		margin-left: 20%;
		margin-right: 20%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 5vh;

		.btn-outline {
			font-size: 1.6vh;
			font-style: italic;
			font-weight: bolder;
		}

	}

}