$color_1: #8a413a;
$color_2: #c1b391;
$color_3: beige;
$color_4: rgba(255, 255, 255, 0.2);
$color_5: #999999;
$color_6: #ffffff;
$color_7: #252525;
$color_8: #c18755;
$background-color_1: #201313;
$background-color_2: #5f3c3c;
$font-family_1: inherit;
$font-family_2: "Raleway";
$font-family_3: "Ruleway";




